@model IEnumerable<BusShuttleManager.Models.BusViewModel>
@{
    ViewData["Title"] = "Busses";
}

<style>
        /* Add your CSS styles here */
        /* Example styles for navigation bar */
        .navbar {
            overflow: hidden;
            background-color: #333;
        }

        .navbar a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 20px;
            text-decoration: none;
        }

        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }
    </style>

<div class="navbar">
    <a asp-action="Drivers">Drivers</a>
    <a asp-action="Busses">Busses</a>
    <a asp-action="Routes">Routes</a>
    <a asp-action="Stops">Stops</a>
    <a asp-action="Loops">Loops</a>
</div>


<h2>Busses</h2>
<a asp-action="CreateBus">Create new bus</a>

<table class="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BusName)
                </td>
                <td>
                    <a asp-action="UpdateBus" asp-route-id="@item.Id">Edit</a> | <a asp-action="DeleteBus" 
                    asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>